<div class="ui segment">
  <div id="post-header" class="ui header">
    <img class="ui bordered middle aligned tiny circular image" src=<%= ElixirTw.LayoutView.avatar_url(@conn, @post.user) %>>
    <div class="content">
      <h1> <%= @post.title %> </h1>
      <div class="sub header"> <%= @post.user.name %> </div>
    </div>
  </div>
  <p id="post-body">
    <%= @post.body %>
  </p>
</div>
