<!-- header -->
<div class="header">
  <!-- logo -->
  <h1>
    <a href="<%= page_path @conn, :home %>">
      <img src="/images/elixir-logo.png" alt="Elixir Taipei Logo" class="logo"/>
    </a>
  </h1> <!-- /logo -->

  <ul class="navs">
    <li><a href=" <%= page_path @conn, :resources %>">資源</a></li>
    <li><a href=" <%= page_path @conn, :social_networks %>">社群</a></li>
  </ul>
</div><!-- /header -->
