<div id="user_sidebar">
  <div class="ui top attached tertiary violet inverted segment">
    控制板
  </div>
  <div class="ui attached segment">
    <a href="/user/posts/new">新增文章</a>
  </div>
  <div class="ui attached segment">
    <a href="/user">個人首頁</a>
  </div>
</div>
