<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>elixir |> taiwan</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  </head>

  <body>
    <div class="ui fixed inverted large menu">
      <div class="ui container">
        <a class="header item" href="#">Elixir 台灣</a>
      </div>
    </div>
    <div class="ui main container">
      <div class="ui error message">
        <i class="close icon"></i>
        <%= get_flash(@conn, :error) %>
      </div>
      <div class="ui info message">
        <i class="close icon"></i>
        <%= get_flash(@conn, :info) %>
      </div>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
