<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%= render "_head.html", conn: @conn %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="Site">
    <%= render "_main_nav.html", conn: @conn %>

    <div class="ui main container">
      <%= show_flash(@conn) %>
      <div class="ui stackable grid">

        <!-- Main Section-->
        <main role="main" class="twelve wide column">
          <%= render @view_module, @view_template, assigns %>
        </main>

        <!-- Sidebars -->
        <div class="four wide column">
          <%= if current_resource(@conn) do %>
            <%= render(ElixirTw.LayoutView, "_user_sidebar.html", conn: @conn)%>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="ui inverted vertical footer segment">
      <div class="ui container">
        I'm the footer
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- Inline scripting -->
    <%= render_existing @view_module, "scripts.html", assigns %>
  </body>
</html>
