<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>elixir |> taiwan</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="Site">
    <div class="ui fixed purple inverted large menu">
      <div class="ui container">
        <a class="header item" href="#">Elixir 台灣</a>
      </div>
    </div>

    <div class="ui main container">
      <%= show_flash(@conn) %>

      <!-- Main Section-->
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>

    <footer class="ui inverted vertical footer segment">
      <div class="ui container">
        I'm the footer
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
