use Mix.Config

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: "Some Github id",
  client_secret: "Some Github secret"

config :ueberauth, Ueberauth.Strategy.Facebook.OAuth,
  client_id: "Some FB id",
  client_secret: "Some FB secret"
