use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
# Use `mix phoenix.gen.secret` to generate new secret key
config :elixir_tw, ElixirTw.Web.Endpoint,
  secret_key_base: "secret-key"

# Configure your database
config :elixir_tw, ElixirTw.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "Hokey",
  password: "Pokey",
  database: "elixir_tw_prod",
  pool_size: 20

# Guardian requires it's own set of JWK and JWT, please generate and keep in prod.secret.exs
# jwk = JOSE.JWK.generate_key({:ec, "P-521"}) |> JOSE.JWK.to_map |> elem(1)
config :guardian, Guardian,
  secret_key: %{"crv" => "P-521",
    "d" => "hmm",
    "kty" => "EC",
    "x" => "coolaid",
    "y" => "ahh~~~"}

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: "this is not my id",
  client_secret: "and this is not my password"

config :ueberauth, Ueberauth.Strategy.Facebook.OAuth,
  client_id: "this is not my id",
  client_secret: "and this is not my password"
