elixir_tw.Elixir.ElixirTwWeb.Endpoint.secret_key_base = "{{ secret_key_base }}"

elixir_tw.Elixir.ElixirTw.Repo.adapter = Elixir.Ecto.Adapters.Postgres
elixir_tw.Elixir.ElixirTw.Repo.username = "{{ elixir_release_name_code }}"
elixir_tw.Elixir.ElixirTw.Repo.password = "{{ db_pass }}"
elixir_tw.Elixir.ElixirTw.Repo.database = "{{ elixir_release_name_code }}_prod"
elixir_tw.Elixir.ElixirTw.Repo.hostname = "localhost"
