<div id="user_sidebar">
  <div class="ui top attached tertiary violet inverted segment">
    控制板
  </div>
  <div class="ui attached segment">
    <%= link "新增文章", to: user_post_path(@conn, :new) %>
  </div>
  <div class="ui attached segment">
    <a href="/user">個人首頁</a>
  </div>
</div>
