<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%= render "_head.html", conn: @conn %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="site">
    <%= render "_main_nav.html", conn: @conn %>

    <section class="container">
      <div class="columns">
        <div class="column is-9">
          <%= render @view_module, @view_template, assigns %>
        </div>

        <%= render "_side_panel.html", conn: @conn %>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="columns is-mobile is-centered">
            <div class="field is-grouped is-grouped-multiline">
              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-link" href="https://github.com/dansup/bulma-templates">Bulma Templates</a>
                  <span class="tag is-light">Daniel Supernault</span>
                </div>
              </div>
              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-link">The source code is licensed</a>
                  <span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <% if false do %>

      <div class="container">
        <%= show_flash(@conn) %>
        <div class="">

          <!-- Main Section-->
          <main role="main" class="">
          </main>

          <!-- Sidebars -->
          <div class="">
            <%= if current_resource(@conn) do %>
              <%= render(ElixirTwWeb.LayoutView, "_user_sidebar.html", conn: @conn)%>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="">
        <div class="">
          Elixir.tw @ 2017
        </div>
      </footer>

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
      <!-- Inline scripting -->
      <%= render_existing @view_module, "script.html", assigns %>
    <% end %>
  </body>
</html>
