<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%= render "_head.html", conn: @conn %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="site">
    <%= render "_main_nav.html", conn: @conn %>

    <section class="container">
      <div class="columns">
        <div class="column is-9">
          <%= show_flash(@conn) %>
          <%= render @view_module, @view_template, assigns %>
        </div>

        <%= render "_side_panel.html", conn: @conn %>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="columns is-mobile is-centered">
            <div class="field is-grouped is-grouped-multiline">

              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-link">
                    <%= Date.utc_today |> Map.get(:year) %>
                  </a>
                  <span class="tag is-light">
                    Elixir 台灣
                  </span>
                </div>
              </div>

              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-link" href="https://github.com/dansup/bulma-templates">Template By</a>
                  <span class="tag is-light">Daniel Supernault</span>
                </div>
              </div>

              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-link">Made with Love</a>
                  <span class="tag is-light">Mickey Chen</span>
                </div>
              </div>

              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-link" href="https://github.com/elixirtw/elixir_tw" target="new">
                    Source Code
                  </a>
                  <span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
