<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%= render "_head.html", conn: @conn %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= render_existing @view_module, "style.html", assigns %>
  </head>

  <body class="site">
    <%= render "_main_nav.html", conn: @conn %>

    <div class="container">
      <%= show_flash(@conn) %>
      <div class="">

        <!-- Main Section-->
        <main role="main" class="">
          <%= render @view_module, @view_template, assigns %>
        </main>

        <!-- Sidebars -->
        <div class="">
          <%= if current_resource(@conn) do %>
            <%= render(ElixirTwWeb.LayoutView, "_user_sidebar.html", conn: @conn)%>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="">
      <div class="">
        Elixir.tw @ 2017
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- Inline scripting -->
    <%= render_existing @view_module, "script.html", assigns %>
  </body>
</html>
